html,header,footer,section,article, body, div, nav, h1, h2, h3, h4, h5, h6, p, ul, li, img, table, td{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}