body{
    position: relative;
}
/* Top Nav CSS */
#Top-Nav{
    background-color: #e3f2fd;
    overflow: hidden;
    z-index: 2;
}
.hidden{
    visibility: hidden;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

.content {
    padding: 16px;
  }
/* Add some top padding to the page content to prevent sudden quick 
movement (as the navigation bar gets a new position at the top of 
the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
  }  
/* Flex Box CSS */
.flex-container{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0.5%;
    padding: 1%;
    position: absolute;
    top: 60px;
}
.left-coloum{
    flex-grow: 1;
    flex-basis: 15%;
    position: relative;
}
.middle-coloum{
    flex-grow: 10;
    flex-basis: 60%;
    position: relative;
}
.right-coloum{
    display: none;
}
.left-coloum, .middle-coloum, .right-coloum{
    margin: 0.5%;
}
#Phone{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.Block-Header-Less{
    background-color: #e3f2fd;
    font-size: 20%;
    padding: 1%;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
}
.Body-Div-Less{
    border: 1px solid black;
    padding: 2%;
    background-color: #f1f1f1;
    margin-bottom: 0%;
    font-size: 20%;
    z-index: -2;
}
.RemoveP{
    display: none;
}
.Text-Flex{
    display: flex;
    align-items: stretch;
    padding: 1%;
}
.Text-F1{
    flex-grow: 2;
}
.Text-F2{
    flex-grow: 3;
}
/* Other Layout CSS*/
#About-Me-Tab, #About-Me-Side, #Skill-Achivements-Tab, #Skill-Achive-Side,
#Education-Qualifications-Tab, #Education-Qualifications-Side,
#Experience-Tab, #Experience-Side, #Portfolio, #Portfolio-Side{
    position: absolute;
    width: 100%;
    top: 0px;
}
/* Div CSS */
.Body-Div{
    border: 1px solid black;
    padding: 3%;
    background-color: #f1f1f1;
    margin-bottom: 2%;
    z-index: -2;
}
.Block-Header{
    background-color: #e3f2fd;
    font-size: 50%;
    padding: 2%;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
}
.Special-Block-Header{
    background-color: #e5fde3;
    font-size: 50%;
    padding: 2%;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
}
/* Special Div CSS */
#Why-Abroad{
    position: relative;
}
/* Side Div CSS */
.right-coloum .Body-Div{
    margin-bottom: 5%;
}
#Languages-Spoken, .Text-Centre{
    text-align: center;
}
#About-Me-Sdie-Info{
    text-align: center;
}
/* Table CSS */
.Side-Table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0.5%;
    width: 100%;
    align-content: center;
    text-align: center;
}
th{
    background-color: #e3f2fd;
    padding: 0.5em;
}
td{
    border: solid 1px black;
    align-items: center;
    padding: 2%;
    font-size: 0.8em;
    background-color: white;
}
/* Other CSS */
.Main-Text{
    margin: 1%;
}
.Centre-Text{
    text-align: center;
}
.Smaller-Text{
    font-size: 90%;
}
#Icon{
    border: 2px solid black;
    border-radius: 100px;
    margin: 1%;
    float: right;
}
#Icon-Side{
    border: 2px solid black;
    border-radius: 100px;
    margin: 1%;
    width: 50%;
    height: 50%;
}
.Background-Img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top:0px;
    left: 0px;
    opacity: 0.2;
}
.Side-Image{
    float: left;
    width: 10%;
    margin-right: 1%;
}
.Special-Side-Image{
    float: right;
    bottom: 2%;
    width: 10%;
    margin-right: 1%;
    margin-bottom: 2%;
}
#collapseOne, #collapseTwo{
    position: relative;
}
ul{
    list-style: none;
}
#Show-List{
    list-style: circle;
    margin-left: 2%;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.25rem;
}
h3{
    font-size: 1.2rem;
}

/* Blog Styling */

.Time-Stamp{
    float: right;
}
.Blog-Body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
#Submit-Blog{
    width: 100%;
    background-color: #e3f2fd;
    color: black;
}
.Text-Centre{
    border: none;
}
/*#*/
/*  */